<div class="container">
	<div class="page-header"><h2>Charities on Pledgr</h2></div>
	<div class="charitylist">
		<div ng-repeat="charity in charities" class="media">
			<a href="#" class="media-left">
				<img src="img/client_test/red.png">
			</a>
			<div class="media-body">
				<h4 class="media-heading">{{charity.name}}</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt similique velit voluptas, distinctio libero reprehenderit, nemo tenetur repellat hic aliquam perspiciatis aliquid sit. Provident rem culpa qui, iusto corporis placeat.
				<ul class="list-group">
					<li class="list-group-item"><strong>Charity Website: </strong>{{charity.website}}</li>
					<li class="list-group-item">Official Representative: {{charity.representative}}</li>
				</ul>
				<div>
					<button class="btn btn-default">Learn More</button>
					<button class="btn btn-default btn-primary" ng-click="directPay($index)" data-toggle="pay-modal" data-target=".pay-modal">Donate to {{charity.name}}!</button>
				</div>
			</div>
		</div>
	</div>
	<!-- payment modal -->
	<div class="modal fade pay-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Give to {{paymentCharity}}</h4>
	      </div>
	      <div class="modal-body">
	        <p>Insert payment form here with {{paymentBankAccount}} and {{paymentRecipient}}</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary">Let's make it happen!</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>