<div id="container" class="signupform">
  <div class="page-header"><h2>Sign up your charity today</h2>
    <h4 class="text-muted">and connect with people all over the world</h4>
  </div>
  <div ng-show="showCharity">
    <form role="form"   id='DBCharityForm' method='POST'>
      <div class="form-group">
        <label for="name">Name*</label>
          <input type="text" class="form-control" ng-model="name" id="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="email">Email*</label>
          <input type="email" class="form-control" ng-model="email" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password*</label>
          <input type="password" class="form-control" ng-model="password" id="password" placeholder="password" required="true">
      </div>
      <div class="form-group">
        <label for="rep">Name of Charity Reprentative*</label>
          <input type="text" class="form-control" ng-model="rep" id="rep" placeholder="Charity Representative">
      </div>
      <div class="form-group">
        <label for="charityWebsite">Official Charity Website*</label>
          <input type="text" class="form-control" ng-model="charityWebsite" id="website" placeholder="Charity Website Url">
      </div>
      <div class="form-group">
        <label for="charityDescription">Description of Charity</label>
          <input type="textarea" rows="4" class="form-control" ng-model="charityDescription" id="description" placeholder="Charity Description">
      </div>
      <button class="btn btn-primary btn-lg active col-md-3 col-md-offset-4" type="button" ng-click="next()"> Next </button>
    </form>
  </div>
  
  <div ng-hide="showCharity">
    <form role="form" id='StripeForm' method='POST'>
      
        <label for="country">Country</label>
        <select ng-model="country" data-stripe="country" class="form-control">
        <option>US</option>
        <option>UK</option>
        </select>
      
      <div class="form-group">
        <label for="routingNumber">Routing Number</label>
          <input type="text" ng-model="routingNumber" class="form-control"  id="routingNumber" placeholder="Routing Number">
      </div>
      <div class="form-group">
        <label for="accountNumber">Account Number</label>
          <input type="text" ng-model="accountNumber" class="form-control"  id="accountNumber" placeholder="Account Number">
      </div>
      <button type="button" class="btn btn-primary btn-lg active col-md-3 col-md-offset-4" ng-click="submit()"> Submit </button>
    </form>
  </div>
</div>
